body {
  background-image: url("images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}
.window {
  width: 50%;
  height: 60%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(249, 202, 206, 0.8);
  /* background-color: #F9CACE; */
  /* opacity: 0.8; */
  border-radius: 8px;
  padding: 15px;
  box-shadow: -7px 5px 0px #A23B45;
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 8px;
  height: 0px; /*scroll barre du bas*/
  background: rgba(249, 202, 206, 0.8);
}
::-webkit-scrollbar-corner { /*angle du coin */
  background: rgba(249, 202, 206, 0.8);
}
::-webkit-scrollbar-thumb { /*barre de défilement*/
  background: #A23B45;
  border-radius: 8px;
}

img{
  /* margin-bottom: 0.5rem; */
}
.icon_window{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}
.icon_window input {
  width : 25px;
}
/* .button_reload{
  border: none;
  background-color: transparent;
  cursor: pointer;
} */
.refresh{
  width: 20px;
  filter: invert(40%);
  display: flex;
}
.breadcrumbs {
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  display: flex;
}

.button {
  border-radius: 8px;
  border: none;
  padding: 5px;
  margin-right: 2rem;
  font-family: 'Nunito', sans-serif;
  box-shadow: -2px 2px 0 #A23B45;
  cursor: pointer;
}
.btn-envoyer{
  margin-left: 0.5rem;
}
.barAction{
  display: flex;
  justify-content: center;
}
input{
  border-radius: 8px;
  border : none;
  padding: 6px;
}
.btn_creerDossier{
  margin-left: -0.8rem;
  /* box-shadow: none; */
}
a {
  text-decoration: none;
  color: black;
}

.bar_outils {
  background-color: #A23B45;
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 0;
  margin-left: -8px;
  display: flex;
}
.bar_outils img{
  width: 35px;
}
.acs{
  display: flex;
  align-items: center;
  margin-left: 0.4rem;
  margin-right: 2rem;
  margin-top: 0;
  padding-left: 1rem;
  padding-right: 8.9rem;
  background-color: white;
  height: 36px;
}
.p_acs{
  padding-left: 1em;
}
.icon_diplome{
  width: 25px!important;
}
.logo_acs{
  margin-left: 0.4rem;
}
.logo_php_js{
  margin-right: 2rem;
}
.date{
  display: flex;
}
.time{
  display: flex;
  justify-content: center;
}
.today{
  display: block;
  align-items: center;
  font-size: 0.8rem;
  margin-left: 33rem;
  color: white;
}
.julie_laurine{
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-left: 2rem;
  color: white;
}
.icon_woman{
  width: 32px!important;
  height: 32px;
  margin-right: 0.8rem;
}
.icon_laurine{
  margin-left: 2rem;
}
.start{
  position: absolute;
  top: 20vh;
  right: 10vh;
}
.p_start{
  color: white;
  margin-top: 0;
  font-size: 0.8rem;
  text-align: center;
}
.start input{
  width: 4rem;
}
.basket{
  position: absolute;
  bottom: 10vh;
  right: 10vh;
}
.basket input{
  width: 4rem;
}

.form_dossier{
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
.img_folder{
  width: 4rem;
  height: 4rem;

}
.button_folder{
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: grid;
  margin-bottom: 4rem;
  margin-right: 2rem;
}
.button_ariane{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.button_ariane:hover{
  background-color: #A23B45;
  color: white;
  border-radius: 8px;
}
.icon_image{
  width: 3.5rem;
  height: 4rem;
}
.btn{
border: none;
background-color: transparent;
cursor: pointer;
display: grid;
margin-bottom: 4rem;
}
.btn_copy{
  display: contents;
  color: white;
}
